@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Source+Sans+Pro&display=swap');
/*
font-family: 'Merriweather', serif;
font-family: 'Source Sans Pro', sans-serif;
*/

h1,h2,h3,h4,h5,h6 {
	font-family: 'Merriweather', serif;
}
p,button,label{
	font-family: 'Source Sans Pro', sans-serif;
}

header {
	text-align: center;
	user-select: none;
}

.sticky {
	position: sticky;
	top: 0;
	background: white;
	z-index: 5;
}
#add-book {
	width: 100%;
	background: darkseagreen;
	padding: 0.7rem;
	border: 2px solid grey;
	font-weight: 800;
	color: white;
	font-size: 1rem;
	cursor: pointer;
}
.new-book-form {
	background: lightgrey;
	border-left: 2px solid grey;
	border-bottom: 2px solid grey;
	border-right: 2px solid grey;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.7rem;
	user-select: none;
	overflow: hidden;
	height: 15rem; /*Needs media query*/ /*must be finite value, not auto or max */
	transition: all 0.4s ease-in-out;
	margin-bottom: 1rem;
}
.new-book-form > div {
	display: grid;
	grid-template-columns: 1fr 3fr;
	justify-content: space-between;
	width: 100%;
}
.new-book-form > input {
	margin: 0.3rem 0 0.7rem;
}
#new-book-submit {
	background: darkseagreen;
	padding: 0.7rem;
	border: 2px solid grey;
	font-weight: 500;
	color: white;
	font-size: 1rem;
	transition: all 0.08s linear;
	cursor: pointer;
}
#new-book-submit:hover {
	box-shadow: 0 0 1rem white;
	opacity: 80%;
	transform: scale(1.05);
}
.hidden {
	height: 0rem;
	padding-top: 0;
	padding-bottom: 0;
	border-bottom: none;
}
#new-status {
	display: none;
}
#new-status-label {
	cursor: pointer;
}
.library {
	width: 100%;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   gap: 1rem;
	justify-content: center;
}

.book-card {
	padding: 2rem 1rem 0.5rem 1.5rem;
   border: 2px solid grey;
   border-radius: 8px;
   min-width: 20ch;
	position: relative;
}
.book-title {
   margin: 0;
}
.book-author {
   margin: 0 0 0.4rem;
}
.book-pages, .book-year {
	margin: 0;
	font-size: 80%;
	opacity: 60%;
}
.book-card-icons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.book-status {
	background: unset;
	border: unset;
}
.book-card-icons > button {
	padding: 0.4rem 0.5rem;
	margin-top: 0.2rem;
	cursor: pointer;
}
.button__delete {
	background: unset;
	border: unset;
	opacity: 40%;
}
.book-card-icons >button:hover{
	opacity: 100%;
	outline: 2px solid hsla(0, 0%, 0%, 5%)
}