@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
/*
font-family: 'Merriweather', serif;
font-family: 'Source Sans Pro', sans-serif;
*/

h1,h2,h3,h4,h5,h6 {
	font-family: 'Merriweather', serif;
}
p,button,label{
	font-family: 'Source Sans Pro', sans-serif;
}

body {
	font-size: 18px;
	margin: 0;
	background-color: lightgrey;
}

header {
	background: url(./images/old-books-436498_1280.jpg) center / cover no-repeat;
	display: flex;
	flex-direction: row;
	justify-content: center;
	user-select: none;
	margin-bottom: 1rem;
}
header > h1 {
	margin: 2rem;
	padding: 0.4rem 1.6rem;
	opacity: 75%;
	background-color: lightgrey;
}

.sticky {
	position: sticky;
	top: 0;
	background: white;
	z-index: 5;
	width: 375px;
	margin: 0 auto;
}
#add-book {
	width: 100%;
	background: olivedrab;
	padding: 0.7rem;
	border: 2px solid grey;
	font-weight: 800;
	color: white;
	font-size: 1rem;
	cursor: pointer;
}
.new-book-form {
	background: white;
	border-left: 2px solid grey;
	border-bottom: 2px solid grey;
	border-right: 2px solid grey;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.7rem;
	user-select: none;
	overflow: hidden;
	height: 18rem; /*Needs media query*/ /*must be finite value, not auto or max */
	transition: all 0.4s ease-in-out;
	margin-bottom: 1rem;
}
.new-book-form > div {
	display: grid;
	grid-template-columns: 2fr 4fr;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.new-book-form > input {
	margin: 0.3rem 0 0.7rem;
}
.new-book-form input[type=text], .new-book-form input[type=number] {
	height: 2rem;
	font-size: 1rem;
	border-radius: none;
	border: 2px solid grey
}
#new-book-submit {
	background: olivedrab;
	padding: 0.7rem;
	border: 2px solid grey;
	font-weight: 500;
	color: white;
	font-size: 1rem;
	transition: all 0.08s linear;
	cursor: pointer;
}
#new-book-submit:hover {
	box-shadow: 0 0 1rem white;
	opacity: 80%;
	transform: scale(1.05);
}
.hidden {
	height: 0rem;
	padding-top: 0;
	padding-bottom: 0;
	border-bottom: none;
}
#new-status {
	display: none;
}
#new-status-label {
	cursor: pointer;
}
.library {
	width: 100%;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   gap: 1rem;
	justify-content: center;
}

.book-card {
	display: flex;
	flex-direction: column;
	padding: 2rem 1rem 0.5rem 1rem;
   border: 2px solid grey;
   /* border-radius: 8px; */
   width: 15rem;
	min-height: 13rem;
	background: white;
	transition: transform 0.08s ease-in-out;
}
.book-card:hover {
	transform: scale(1.01);
}
.book-title {
   margin: 0;
}
.small-title {
	font-size: 1.3rem;
}
.book-author {
   margin: 0 0 0.4rem;
}
.book-pages, .book-year {
	margin: 0;
	font-size: 80%;
	opacity: 60%;
}
.book-card-icons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.book-status {
	background: unset;
	border: unset;
}
.book-card-icons {
	margin-top: auto;
}
.book-card-icons > button {
	padding: 0.4rem 0.5rem;
	margin-top: 0.2rem;
	cursor: pointer;
}
.button__delete {
	background: unset;
	border: unset;
	opacity: 40%;
}
.book-card-icons >button:hover{
	opacity: 100%;
	outline: 2px solid hsla(0, 0%, 0%, 5%)
}
footer {
	margin-top: 1rem;
	background-color: black;
	text-align: center;
	padding: 1.5rem 0;
}
footer p {
	font-family: 'Courier Prime';
	color: white;
	padding: 0;
	margin: 0;
}